html{
    font-family: Helvetica,;
    background-image: url("../img/image.png");
    background-size: cover;
    
}
.header{
    text-align: none;
    margin:1rem;
}
.main-title{
    color: brown;
    text-align: center;
    background-color: #ddd;
    opacity: 0.8;
    border-radius: 5px;
}
.main-paragraph{
    background-color: #ddd;
    opacity: 0.8;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}
.image{
    position: relative;
    text-align: center;
    margin-top: 4rem;
}
.history{
   text-align: center;
   background-color: #ddd;
   opacity: 0.8;
   border-radius: 5px;
   width: 100%;
}
.curiosidades{
    padding: 10px 0;
    margin: 20px 15;
    border-top: 1px dashed #ddd;
    background-color: #ddd;
    border-bottom: dashed #ddd;
    opacity: 0.8;
}
.segunda-imagem{
    position: relative;
    text-align: center;
    margin-top: 4rem;
}
.history2{
    text-align: center;
    background-color: #ddd;
    opacity: 0.8;
    border-radius: 5px;
    width: 100%;
 }
 .heros-marvel{
    background-color: #ddd;
    opacity: 0.8;
    margin-top: 5px;
    padding: 1px 5;
    border-radius: 2rem;
 }
 .more{
    text-align: center;
    background-color: #ddd;
    opacity: 0.8;
    width: 12%;
 }